<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>In development</h1>
    <br>
    <a href="/linkedin" class="profile-links" target="_blank">LinkedIn</a>
    <a href="/github" class="profile-links" target="_blank">GitHub</a>
    <a href="/codepen" class="profile-links" target="_blank">CodePen</a>
    <a href="/glitch" class="profile-links" target="_blank">Glitch</a>
    <a href="/salesforce" class="profile-links" target="_blank">SalesForce</a>
</body>
</html>